<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Dear , Thanks! for login </h1>
<p>now, you can avail our services</p>
    <h2>
        This is the secret page of the website. no unauthorise user can open it.
    </h2>
    <a href="/logout" type="button">Logout</a>
  
</body>
</html>